.empTable{
	width:800px;
}

thead{
	background-color:darkblue;
	color:#fff;
	font-weight:bold;
}

.empTable tbody tr td{
	padding:5px;
}

.odd{
	background-color:lavender;
}

.even{
	background-color:lightgray;
}

.currentrow{
	background-color:#fff;
}

thead th:hover{
	background-color:darkcyan;
	cursor:pointer;
}
